$element-sep: '__';
$modifier-sep: '--';

@mixin block ($block, $type: false) {
  .#{$block} {
    @content;
  }
}

@mixin element ($element) {
  &#{$element-sep}#{$element} {
    @content;
  }
}

@mixin modifier ($modifier) {
  &#{$modifier-sep}#{$modifier} {
    @content;
  }
}

@mixin modifier-element ($modifier, $element) {
  &#{$modifier-sep}#{$modifier} &#{$element-sep}#{$element} {
    @content;
  }
}



// For example

@include block (header) {
  size: 100% 80px;

  @include modifier (active) {
    background-color: #fff;
  }

  @include element (nav) {
    display: flex;
    column-gap: 30px;

    @include element (link) {
      font-size: 10px;
    }

    @include modifier-element (active, link) {
      color: red;
    }
  }
}

/* Result:
.header {
  width: 100%;
  height: 80px;
}
.header--active {
  background-color: #fff;
}
.header__nav {
  display: flex;
  column-gap: 30px;
}
.header__nav__link {
  font-size: 10px;
}
.header__nav--active .header__nav__link {
  color: red;
}
*/